@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-image: url('../img/background.png');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: repeat;
}
h4{
    color: #616161;
}
input {
  color: gray;
}
.collection{
  border: none;
}
.collection .collection-item {
  background-color: transparent;
  color: #26a69a;
}

.collection .collection-item p{
  margin: 0;
}
.collection .collection-item a{
  color:gray;
}
input[type=checkbox]:checked + span {
  text-decoration: line-through;
}
.modal-close.waves-effect.waves-green.btn-flat.waves-light.red {
  color: white;
}